body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 2.3rem;
}

button {
  font-size: 7.5rem;
  border: none;
  border-radius: 250px;
  background-color: rgb(203, 203, 203);
  cursor: pointer;
  margin: 0px 15px;
}

button:hover {
  background-color: rgb(129, 129, 129);
}

button:active {
  background-color: rgb(53, 53, 53);
}

#choices {
  margin-top: 15px;
  margin-bottom: 25px;
}

#playerDisplay, #computerDisplay {
  display: grid;
  grid-template-columns: minmax(100px, auto) 1fr;
  gap: 10px;
  font-size: 1.8rem;
  width: 100%;
}

#resultDisplay {
  font-size: 3rem;
  margin-top: 15px;
  font-weight: bold;
}

#display {
  display: flex;
  width: 340px;
  flex-direction: column;
}

#playerScoreDisplay {
  font-weight: bold;
  color: rgb(44, 150, 115);
}

#computerScoreDisplay {
  font-weight: bold;
  color: rgb(37, 37, 179);
}

.greenText {
  color: green;
}

.redText {
  color: red;
}

.scoreDisplay {
  font-size: 20px;
}